@import '../styles/vars.less';

body{
    margin: 0;
    font-family: sans-serif;
    color: @color-dark;
}

.btn{
    cursor: pointer;
    &:hover{
        opacity: 0.9;
    }  
    &:active{
        opacity: 0.8;
    } 
}